[flake8]
max-line-length = 88
select = E,F,W,B,C90,ANN,D,N,RET
extend-ignore = E203, W503, D100, D104

max-complexity = 8

# Type annotation rules
# ---------------------
# Require annotations everywhere
annotations = yes
allow-untyped-defs = no
allow-untyped-nested = no
allow-untyped-globals = no
allow-untyped-args = no
allow-untyped-return = no

# Naming rules
# ------------
classmethod-decorators = classmethod

# Docstrings
# ----------
docstring-convention = google
